<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus repudiandae similique quos vel quis voluptates dolor totam officiis fuga dolorum voluptate, sint nostrum, placeat dicta facilis sunt quisquam enim iusto.</p>
  {{> footer}}
</body>
</html>